<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta
      property="csp-nonce"
      content="<%= htmlWebpackPlugin.options.nonce %>"
    />
    <title>Ergo</title>
  </head>

  <body>
    <div id="target"></div>
  </body>
</html>
